@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
}

.main-content {
	padding-top: 100px;
	padding-bottom: 100px;
}

.info-card {
	background: #fff;
	text-align: center;
	padding: 50px 30px;
	margin-bottom: 30px;
	border-radius: 3px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.info-card .info-card_icon {
	height: 125px;
	width: 125px;
	margin: 0 auto 50px auto;
	border: 5px solid #4caf50;
	border-radius: 125px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.info-card .info-card_icon i {
	font-size: 50px;
	color: #4caf50;
}
.info-card .info-card_icon .info-card_img-icon {
	height: 60px;
	width: 60px;
	object-fit: contain;
}
.info-card .info-card_label {
	margin-bottom: 15px;
}
.info-card .info-card_message {
	margin-bottom: 15px;
}
.info-card .btn {
	background: #03a9f4;
	border-color: #03a9f4;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.info-card--success .info-card_icon {
	border-color: #4caf50;
}
.info-card--success .info-card_icon i {
	color: #4caf50;
}
.info-card--danger .info-card_icon {
	border-color: #f44336;
}
.info-card--danger .info-card_icon i {
	color: #f44336;
}
.info-card--warning .info-card_icon {
	border-color: #ff9800;
}
.info-card--warning .info-card_icon i {
	color: #ff9800;
}
