{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% block title-meta %}
	اطلاعات کاربری
{% endblock %}{% endblock %}

{% block main %}
<div class="col-md-12">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title mb-0 float-left">ویرایش اطلاعات کاربری</h3>
    </div>
		<div class="card-body">
			<form method="post" enctype="multipart/form-data">{% csrf_token %}
		    <div class="row">
		      <div class="col-6">
		        {{ form.username|as_crispy_field }}
		      </div>
		      <div class="container">
		      </div>
		      <div class="col-6">
		        {{ form.email|as_crispy_field }}
		      </div>
		      <div class="container">
		      	<div class="alert alert-warning">
			      	<label>گذرواژه</label>
			      	<p class="mb-0">برای تغییر گذرواژه <a class="alert-link" href="{% url 'password_change' %}">کلیک</a> کنید.</p>
		        </div>
		      </div>
		      <div class="col-6">
		        {{ form.first_name|as_crispy_field }}
		      </div>
		      <div class="container">
		      </div>
		      <div class="col-6">
		        {{ form.last_name|as_crispy_field }}
		      </div>
		      <div class="container">
		      </div>
		      <div class="col-6">
		        {{ form.card_number|as_crispy_field }}
		      </div>
		      <div class="container">
		      </div>
		      <div class="col-6">
		        {{ form.avatar|as_crispy_field }}
		      </div>
		      <div class="container">
		      </div>
		      <div class="col-6">
		        {{ form.job|as_crispy_field }}
		      </div>
		      <div class="container">
		      </div>
		    </div>
				<button class="btn btn-success">ویرایش اطلاعات</button>
			</form>
		</div>
</div>
{% endblock %}

