<!DOCTYPE html>
<html dir="rtl">
<head>
	<title>ارسال ایمیل بازیابی با موفقیت انجام شد.</title>
</head>
<body>
	<div style="font-family: vazir; text-align: center;">
		<h1>تقاضای ریست رمز فرستاده شد</h1>

		<p>دستورالعمل تنظیم گذرواژه را برایتان ایمیل کردیم. اگر با ایمیلی که وارد کردید اکانتی وجود داشت باشد باید به زودی این دستورالعمل‌ها را دریافت کنید.</p>

		<p>اگر ایمیلی دریافت نمی‌کنید، لطفاً بررسی کنید که آدرسی که وارد کرده‌اید همان است که با آن ثبت نام کرده‌اید، و پوشهٔ اسپم خود را نیز چک کنید.</p>
	</div>
</body>
</html>