{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Info Cards UI Design</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'peyment/css/style.css' %}">
</head>
<body>
	<section class="main-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div>
						<div>
							
						</div>
						<div></div>
						
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="info-card info-card--success">
						<div class="info-card_icon">
							<img class="info-card_img-icon" src="{% static 'peyment/img/success.svg' %}" alt="success">
						</div>
						<h2 class="info-card_label">لینک فعال سازی به ایمیل شما ارسال شد</h2>
						<div class="info-card_message">	
	
								<p>اگر ایمیلی دریافت نمی‌کنید، لطفا پوشهٔ اسپم خود را چک کنید
						</div>
						
				</div>
							<div class="row">
				<div class="col-sm-6 col-md-4">
					<div>
						<div>
							
						</div>
						<div></div>
						
					</div>
				</div>

			</div>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
	<style>
		@import url('https://v1.fontapi.ir/css/IranNastaliq');
		body{
	
			direction:rtl !important;
			text-align: right !important;
			font-family: IranNastaliq !important;
		}
		.myfont {
		
		font-family: IranNastaliq !important;
		}
		.img-fluid {
  			max-width: 100%;
  			height: auto;
		}


	</style>
